{{#unless showUnidentifiedData}}
<h4 class="form-header">{{localize "PF1.Advanced"}}</h4>

<div class="form-group">
  <label>{{localize "PF1.Tag"}}</label>
  <input {{#unless system.useCustomTag}}disabled{{/unless}} type="text" name="system.tag" value="{{ system.tag }}"
  placeholder="{{localize "PF1.Tag"}}" />
  <label>{{localize "PF1.Custom"}}</label>
  <input type="checkbox" name="system.useCustomTag" {{checked system.useCustomTag}} />
</div>
{{/unless}}